@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agbalumo&family=Alfa+Slab+One&family=Alumni+Sans+Inline+One&family=Bebas+Neue&family=Bungee+Inline&family=Dancing+Script&family=Fjalla+One&family=Gloria+Hallelujah&family=Kenia&family=Lato&family=Noto+Serif+Old+Uyghur&family=Pinyon+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agbalumo&family=Alfa+Slab+One&family=Alumni+Sans+Inline+One&family=Bebas+Neue&family=Bungee+Inline&family=Dancing+Script&family=Fjalla+One&family=Gloria+Hallelujah&family=Kenia&family=Lato&family=Noto+Serif+Old+Uyghur&family=Pinyon+Script&family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agbalumo&family=Alex+Brush&family=Alfa+Slab+One&family=Alumni+Sans+Inline+One&family=Bebas+Neue&family=Bungee+Inline&family=Dancing+Script&family=Fjalla+One&family=Gloria+Hallelujah&family=Kenia&family=Lato&family=Noto+Serif+Old+Uyghur&family=Pinyon+Script&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../IMAGES/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}


.fisrt::first-letter {
    font-size: 800%;
    font-family: 'Alex Brush';
    color: #fff;
}

.last-letters {
    letter-spacing: 6px;
    font-size: 50px;
    color: #fff;
    font-family: 'Alex Brush';
}

.history {
    text-align: left;
    color: #fff;
    font-family: 'Quicksand';
}

.login-heading {
    color: #fff;
    font-weight: 888;
    font-family: 'Quicksand';
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to left , #000 , #fff);
    padding: 5px;
    text-shadow: 2px 2px #000;
}


.login-quote {
    font-weight: 800;
    font-size: 18px;
    font-family: 'Quicksand';
}

.btn {
    font-family: 'Quicksand';
    text-transform: uppercase;
}

label {
    font-family: 'Quicksand';
}

.form-control {
    border: none;
    font-family: 'Quicksand';
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-radius: 0%;
    background-color: transparent;
}


.btn {
    text-transform: uppercase;
    font-weight: 888;
    border-radius: 0%;
}

.login-button {
    font-family: 'Quicksand';
    letter-spacing: 2px;
    width: 50%;
}

.social-icons {
    text-decoration: none;
    font-size: 25px;
    font-weight: 888;
}


.sign-up-line-styling {
    font-family: 'Quicksand';
    color: #000;
    font-weight: 888;
}


.sign-up-styling-of-anchor {
    text-transform: uppercase;
    color: #000;
    font-weight: 888;
    font-family: 'Quicksand';
  }

.sign-up-styling-of-anchor:hover {
    color: #000;
}
