@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agbalumo&family=Alfa+Slab+One&family=Alumni+Sans+Inline+One&family=Bebas+Neue&family=Bungee+Inline&family=Dancing+Script&family=Fjalla+One&family=Gloria+Hallelujah&family=Kenia&family=Lato&family=Noto+Serif+Old+Uyghur&family=Pinyon+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agbalumo&family=Alfa+Slab+One&family=Alumni+Sans+Inline+One&family=Bebas+Neue&family=Bungee+Inline&family=Dancing+Script&family=Fjalla+One&family=Gloria+Hallelujah&family=Kenia&family=Lato&family=Noto+Serif+Old+Uyghur&family=Pinyon+Script&family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agbalumo&family=Alex+Brush&family=Alfa+Slab+One&family=Alumni+Sans+Inline+One&family=Bebas+Neue&family=Bungee+Inline&family=Dancing+Script&family=Fjalla+One&family=Gloria+Hallelujah&family=Kenia&family=Lato&family=Noto+Serif+Old+Uyghur&family=Pinyon+Script&family=Quicksand&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    font-family: 'Quicksand';
}


.card {
  position: relative;
  min-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 0%;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .5s;
}
.card:hover {
  transform:scale(1.1);
}
.card_red, .card_red .title .fa {
  background: #000;
}
.card_violet, .card_violet .title .fa  {
    background: #000;
}
.card_three, .card_three .title .fa  {
    background: #000;
}

.card:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
}
.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}
.price {
  position: relative;
  z-index: 2;
}
.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}

.card a {
  display: block;
  position: relative;
  z-index: 2;
  background-color: #fff;
  color: #000;
  font-weight: 888;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 20px auto 0;
  line-height: 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0,0,0, .1);
}

.card a:hover {
  background-color: #fff;
  color: #000;
}

.card-paragraph {
    color: #fff;
}

.tour-packages-heading {
    text-align: center;
    color: #fff;
}



.blogs-bottom-paragraph {
    font-family: 'Quicksand';
    font-size: 18px;
    color: #fff;
}


.blogs-bottom-paragraph {
    font-family: 'Quicksand';
    font-size: 18px;
    color: #fff;
}

.blogs-bottom-paragraph-button {
    text-transform: capitalize;
    font-family: 'Quicksand';
    font-size: 18px;
    color: #000;
    background-color: #fff;
    font-weight: 888; 
    border-radius: 0%;
}


.blogs-bottom-paragraph-button:hover {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}
